<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.commissionConnectionString" connectionString="server=localhost;User Id=root;password=141210;Persist Security Info=True;database=commission" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsApplication1.Properties.Settings.commissionrepoConnectionString" connectionString="server=localhost;User Id=root;password=141210;Persist Security Info=True;database=commissionrepo" providerName="MySql.Data.MySqlClient"/>
      <!--<add name="CommDB" connectionString="server=192.168.1.215;User Id=root;password=where;Persist Security Info=True;database=BevTest;connection timeout=30000" providerName="MySql.Data.MySqlClient"/>-->
      <!-- DM this is for production-->
      <add name="CommDB" connectionString="server=192.168.1.13;User Id=CommissionsUser;password=zr1Z89YPaD;Persist Security Info=True;database=commissionrepo;connection timeout=30000" providerName="Sql.Data.SqlClient"/>
      <!-- DM this is for testing localhost-->
      <!--<add name="CommDB" connectionString="server=localhost;User Id=root;password=141210;Persist Security Info=True;database=commissionrepo;connection timeout=30000" providerName="MySql.Data.MySqlClient"/>-->
      <!--<add name="commissionrepo" connectionString="server=localhost;User Id=root;password=141210;Persist Security Info=True;database=commissionrepo" providerName="MySql.Data.MySqlClient" />-->
      <!--connectionString="server=192.168.1.215;User Id=root;password=where;Persist Security Info=True;database=commissionrepo;connection timeout=30000" -->
      <!--connectionString="server=localhost;User Id=root;password=141210;Persist Security Info=True;database=commissionrepo" -->
      <!--<add name="CommDB" connectionString="server=192.168.1.215;User Id=root;password=where;Persist Security Info=True;database=commissionrepo;connection timeout=30000" providerName="MySql.Data.MySqlClient"/> -->
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
